{% extends "blog/base.html" %}
{% load crispy_forms_tags %}<!--it allow us to use the crispy filter in any of our forms-->
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}<!-- this adds security in form by django and now we can access the form variable that we passed in -->
            <fieldset class="form-group">
                <legend class = "border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}<!-- this the form key passed in views. .as_p render it in paragraphs-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}